*{
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  box-sizing: border-box;
  
 }

html, 
body{
  height: 230;
  background: #ffffff;
  transition: 0.3s;

}
/* acessibilidade inicio  */
input[type="checkbox"]{
  display: none;
}
.dark{
  background-color: #263238;
}

.dark .header-content{
  background-color: #393d3f;
  color: #fff;
}
.dark container{
  background-color: #393d3f;
  color: #fff;
}
.dark section{
  background-color: #263238;
  color: #fff;
} 

.dark post container {
  background-color: #263238;
  color: #fff; */
} 
.bi{
  font-size: 1.3rem;
  cursor: pointer;
}
.bi-moon{
  display: none;
}
.dark .bi-sun{
  display: none;
}
.dark .bi-moon{
  display: block;
}
.dark .post-box{
  background-color: #393d3f;
}
.dark .post-title{
  color: #ddd;
}
.dark .post-filter{
  color: #fff;
}
 .dark:hover{
  background-color: #263238;
 }

 .dark .social .bx {
  color: #fff; 
}
/* acessibilidade final */

/* Vlibras inicio */
[vw] [vw-access-button] .access-button {
  width: 40%;
  height: 40px;
  z-index: 1;
  border-radius: 8px;
  float: right;
}

[vw] [vw-access-button] img {
  max-height: 30px;
  transition: all .5s ease;
  border-radius: 10px;
  opacity: 1 !important;
  visibility: visible !important;
}
/* Vlibras final */

:root{
  --container-color: #1a1e21;
  --second-color: #ff0909;
  --text-color: #172317;
  --bg-color: #fff;
  --post-color:#70666645;
}

::selection {
  color: var(--bg-color);
  background: var(--second-color);
}

.menu a{
  color: #ff0808;
  margin: 0;
  overflow: hidden;
  float: left;
  display: block;
  text-align: left;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;

}

 .menu a:hover {
  background-color: #dddddd76;
  color: black;
  border-radius: 8px;
  
} 

.menu .icon {
  display: none;
}
@media screen and (max-width: 900px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.menu.responsive a {
  float: none;
  display: block;
  text-align: left;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
  
}

img{
  width: 10%;
}



section{
  padding: 3rem 0 2rem;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  height: 8vh;
}
/* 
.nav-menu{
  list-style: none;
  display: flex;
}

.nav-menu li{
  letter-spacing: 3px;
  margin-left: 32px;
} */

.container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
  margin-left: auto;
  justify-content: space-between;
  position: center;
}


/* hearder */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
 justify-content: space-between;
 display: flex ;
 align-items: center;
}

header.shadow{
  background: var(--bg-color);
  box-shadow: 0 1px  4px  hsl(0 4% 14% / 10%);
  transition: 0.4s;
}

header.shadow .logo{
   color:var(--text-color);
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  margin-left: auto;
  padding: 18px 25px;
  
}
/* rever o tamanho */
.logo{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--bg-color);
  width: 40%; 
}
 /* rever o tamanho */
.logo span {
  color: var(--second-color);
  font-size: 1.5rem;
}

 nav container.form{
  color: #ff0909;
  margin-left: auto; /* Adicione esta linha */
  margin-right: 0; /* Adicione esta linha */
  width: 50%;
}
 
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right; /* Adicione esta linha */
}
.menu li {
  float: left;
}

.menu li a {
 display: block;
 color: rgb(255, 23, 23);
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 width: 100%;
 font-weight: bold; 
}
/* botons do menu pessoal */
.menu li a:hover {
 background-color: #dddddd86;
 border-radius: 8px;
 font-size: 16px;
 padding: 10px 10px;
 -ms-transform: translate(-50%, -50%);

}    

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  text-align: justify;
}

.home{
  background-image: url(img/1.jpg);
  width: 100%;
  min-height: 440px;
  /* background: var(--container-color); */
  display: grid;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1900px;  
}

.home::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 440px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  overflow: hidden;
 
}

.home-text{
  color: var(--bg-color);
  text-align: center;
  font-weight: bold;
  float: left;
}
.home-title{
  font-size: 3.5rem;
  width: 100%; 
}

.home-subtitle{
  font-size: 1rem;
  font-weight: 400;
  
}

/* Post Filter  */
.post-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;
}

.filter-item{
  font-size: 0.9rem;
  font-weight: 500;
  cursor:pointer;
}

.active-filter{
  background: var(--second-color);
  color: var(--bg-color);
  padding: 4px 10px;
  border-radius: 4px;
}

/* Post */
.post{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}

.post-box{
  background: var(--bg-color);
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
}

.post-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.post video{
  width: 310px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  
}

.category{
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--second-color);
}

.post-title{
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
  /* para permanecer o título em 2 linhas */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
   overflow: hidden;
   
}
.post-date{
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}

.post-decription{
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  /* para permanecer o título em 3 linhas */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
}

.profile{
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--second-color);
}

.profile-name{
  font-size: 0.82rem;
  font-weight: 500;
}

.footer{
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 16px;
  
}

.footer p{
  font-size: 0.938rem;
  position: absolute;
  bottom: 20;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.social{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 20px;

}

.social .bx{
  font-size: 1.4rem;
  color: var(--text-color);
}

.social .bx:hover{
   color: var(--second-color);
   transition: 0.3s all linear;
}

/* Postar conteúdo */
.post-header{
  width: 100%;
  height: 500px;
  background: var(--container-color);
}

.post-container{
  max-width: 800px;
  margin: auto;
  width: 100%;
}

.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem !important;

}

.back-home{
  color: var(--second-color);
  font-size: 0.9rem;
}

.header-title{
  width: 90%;
  font-size: 2.6rem;
  color: var(--bg-color); 
  text-align: center;
  margin-bottom: 1rem;
}

.header-img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.post-content{
    margin-top: 10rem !important;
}
.sub-heading{
    font-size: 1.2rem;
}

.post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}
.share{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.1rem;
}
.share-title{
    font-size: 1.1rem;
    
    
}

input {
  /* float: right;
  
  width: 10%;
  padding: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  margin: 0px;
  position: relative; */

  padding: 4px 10px;
  float: right;
  /* position: absolute; */
  right: 0;
  top: 2; 
  margin-right: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;


}

input[type]:focus {
  outline: 0 none;
 border: 1.2px solid #8a8a8a;

}

.button {
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  background-color: #ff0808;
 
  
}

/* responsividade */
@media(max-width:999px){
    .container{
        margin: 0 auto;
        width: 95%;
    }
    .home-text{
        width: 100%;
    }
}

@media(max-width:768px){
    .nav{
      padding: 10px 0;
    
    }
    .section{
      padding: 2rem 0;
    }
    .header-content{
        margin-top: 3rem !important;
    }
    .home{
        min-height: 380px;
    }
    .home-title{
        font-size: 3rem;
    }
    .header-title{
        font-size: 2rem;
    }
    .header-img{
        height: 370px;
    }
    .post-header{
        height: 435px;
    }
    .post-content{
        margin-top: 9rem !important;
    }
  }

    @media (max-width:570px){
        .post-header{
            height: 390px;
        }
        .header-title{
            width: 100%;
        }
        .header-img{
            height: 340px;
        }
        .footer{
            flex-direction: column;
            row-gap: 1rem;
            padding: 20px 0;
            text-align: center;
        }
    
        @media (max-width:396px){
           .home-title{
            font-size: 2rem;
           }
           .home-subtitle{
            font-size: 0.9rem;
           }
           .home{
            min-height: 300px;
           }
           .post-box{
            padding: 10px;
           }
           .header-title{
            font-size: 1.4rem;
           }
           .header-img{
            height: 240px;
           }
           .post-header{
            height: 335px;
           }
           .post-content{
            margin-top: 5rem !important;
           }
           .post-text{
            font-size: 0.875rem;
            line-height: 1.5rem;
            margin: 10px 0;
           }

           .topnav {
            background-color: #333;
            overflow: hidden;
            margin: 0;
          }
        }